<!DOCTYPE html>
<html>
    <head>
        <title>{{ .TabTitle }}</title>
        <link rel="stylesheet" href="/{{ .FunctionalPath }}/static/gatehouse.css">
        <script src="/{{ .FunctionalPath }}/static/gatehouse.js"></script>
    </head>
    <body style="background-image: url('/{{ .FunctionalPath }}/static/icons/GatehouseBackdrop.png');">
        <form class="gh_form" action="{{ .FormAction }}" method="{{ .FormMethod }}" onsubmit="return submitReady()" enctype='multipart/form-data'>
            <div class="gh_div_back" onclick="history.back()">
                <img src="/{{ .FunctionalPath }}/static/icons/Arrow.png" class="gh_img_arrow">
                Back
            </div>
            <table>
                <tr>
                    <td>
                        <img class="gh_img_icon" src="/{{ .FunctionalPath }}/static/icons/Gatehouse.png">
                    </td>
                </tr>
                <tr>
                    <td class="gh_str_title">{{ .FormTitle }}</td>
                </tr>
                {{ range .FormElements }}
                    <tr>
                        <td>
                            {{ if .IsInput }}
                            <input class="{{ .Class }}" name="{{ .InputName }}" type="{{ .InputType }}" placeholder="{{ .InputPlaceholder }}" value="{{ .InnerText }}" required>
                            {{ else }}
                                {{ if .IsLink }}
                                <a class="{{ .Class }}" href="{{ .LinkURI }}">{{ .InnerText }}</a>
                                {{ else }}
                                    {{ if .IsImage }}
                                        <img class="{{ .Class }}" src="data:image/png;base64, {{ .InnerText }}">
                                    {{ else }}
                                        <div class="{{ .Class }}">{{ .InnerText }}</div>
                                    {{ end }}
                                
                                {{ end }}
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
                {{ range .OIDCOptions }}
                    <tr>
                        <td>
                            <a class="gh_a_button" href="{{ .URI }}" style="background-color: {{ .BackgroundColor }}; color: {{ .TextColor }}">{{ .Text }}<img class="gh_a_icon" src="{{ .ImageURI }}"></a>
                        </td>
                    </tr>
                {{ end }}
            </table>
        </form>
    </body>
</html>