.gh_form {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #888;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gh_str_title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}
.gh_inp_text {
    width: 264px;
    padding: 18px 18px;
    border: 0px solid transparent;
    box-shadow: inset 1px 1px 3px #888;
    font-size: 16px;
}
.gh_inp_button {
    width: 300px;
    padding: 18px 18px;
    border: 0px solid transparent;
    box-shadow: 1px 1px 3px #888;
    font-size: 16px;
    background-color: white;
}
.gh_a_small {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}
.gh_a_button {
    display: block;
    width: 264px;
    padding: 18px 18px;
    box-shadow: 1px 1px 3px #888;
    line-height: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.gh_a_icon {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.gh_div_divider {
    height: 1px;
    width: 60%;
    background-color: #ccc;
    margin: 10px auto;
}
.gh_div_hint {
    font-size: 16px;
    max-width: 264px;
    margin: 5px 0px;
}